[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
langgraph = "*"
langchain-tavily = "*"
langgraph-checkpoint-sqlite = "*"
langchain-ollama = "*"
langchain = {extras = ["openai"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
